<?xml version="1.0"?>
<launch>

  <arg name="robot_ip" />

  <!-- Launch real-robot control -->
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true" />
  <!-- By default use joint position controllers -->
  <arg name="transmission" default="position" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda/robotiq_mounted_on_panda.urdf.xacro" />

  <!-- Start ROS controllers -->
   <rosparam file="$(find panda_moveit_config)/config/ros_controllers.yaml" command="load"  subst_value="true"/>

 <!-- Start the position controller -->
  <node name="controller_spawner_position" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="$(arg transmission)_joint_trajectory_controller" />

  <!-- Start the impedance controller -->
  <node name="controller_spawner_impedance" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="--stopped tas_controllers/CartesianImpedanceController" />

  <include file="$(dirname)/move_group.launch" pass_all_args="true"/>
  <!-- Run Rviz and load the default config to see the state of the move_group node -->

  <include file="$(dirname)/moveit_rviz.launch">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
  </include>

  <!-- Launch the Python scripts -->
  <node name="move_by_x" pkg="panda_moveit_config" type="move_nogrip.py" output="screen">
    <param name="script" value="$(find panda_moveit_config)/scripts/move_nogrip.py" />
  </node>


</launch>
